*{
  margin:0;
  padding:0;
}

body {
  font-family: "Poppins";
}

.form-title>h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.form-inner-parent>label,
.form-location>label,
.remote-location>label , .form-location-parent>h6 , .form-apply-parent>h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left !important;
  margin-bottom: 4px;
  display: block;
}
.jobcard-parent{
  border-radius:10px;
}
.company-jd>h3{
  font-size:24px;
}
.company-jd>h4{
  font-size:16px;
}
.company-jd>p{
  font-size: 16px;
  color:#7A7A7A;
}
.jd-timings>p{
  font-size: 16px;
}
.apply-location>label{
  padding-left:4px;
}
.jobcard-parent{
  width: 47%;
  margin: 20px 20px;
}